 *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
$color-nav:  rgb(34, 172, 6);
$font-titulo: 'Playfair Display', serif;
$textos: rgb(141, 81, 12);
$color-foot: rgba(0, 0, 255, 0.781); 
.head{
        background: linear-gradient(to top, rgb(245, 169, 5), rgb(255, 123, 0));
        display: flex;
        flex-direction: row;
        justify-content:center;
        padding: 2rem;
        .logon{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 4rem;
            transition: 2s all ease;
        }
        .logon:hover {
            transform: rotate(-360deg);
        }
        .titulo{
            align-content: flex-end;
            margin-top: 2rem;
            font-family: $font-titulo;
            }
           
    }

.cuerpo {
        background-image: url(../imagenes/fondo4.webp);
        background-repeat:repeat; 
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 0.4fr 0.8fr 2.2fr 0.6fr; 
        gap: 5px 5px; 
        grid-template-areas: 
          "navbar navbar navbar navbar navbar"
          "carta nuestro servi contacto pedido"
          "carta nuestro servi contacto pedido"
          "foot foot foot foot foot"; 

        .navbar { grid-area: navbar;
            background-color:$color-nav;
            font-size: 2rem;
            
            .navmenu { 
                width: 100%;
                display: flex;
               justify-content: space-around;
                align-items: center;
                
                .opcion {color: black;
                    text-decoration: none;
                    justify-content: center;
                    list-style-type: none;
                    transition: 2s all ease;

                    a {
                        text-decoration: none;
                        color: black;
                       } 
                    
                       a:hover{
                        color: black;
                       }

                       
                    .btn {
                             color: black;
                             background-color:$color-nav;
                             font-size: 2rem;
                             }

                    .btn:hover {
                                color: black;
                                background-color: orange;
                            }

                    .dropdown-menu {
                             background-color:$color-nav;
                            }

                    .dropdown-item:hover {
                                background-color: orange;
                            }

                    }
                
                .opcion:hover {
                        color: black;
                        background-color: orange;
                        border-radius: 5%;
                        transform: translate(10px,10px);
                    }
              }
             }
        
             .carta { grid-area: carta;
            
             }
         
           .nuestro { grid-area: nuestro;
                     
             }
         
           .servi { grid-area: servi;
                     text-align: center;
             }
         
            .dropdown-menu{
             text-align: center;
            }
         
           .contacto { grid-area: contacto;
                     
             }
             
           .pedido { grid-area: pedido;
                    .num{
                         justify-content:end;
                         align-items:flex-start;
                         position: fixed;
                        .wasap {
                        margin-right: 3rem;
                        margin-bottom: 3rem;        
                             .logo {
                                    width: 150px;
                                    height: 150px; 
                            
                        }
                    }
                        }
            
             }
         
             .foot { grid-area: foot;
                   background-color:$color-foot;
                   text-align: center;
                   .redes{
                    width: 180px;
                    height: 180px;
                
                   }
                                 
             }     
             .des {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: auto;
                justify-content: center;
                color:$textos;
                font-size: 1.5rem;
                margin-left: 20px;
                margin-right: 10px;

                .fotos {
                    width: 200px;
                    height: 200px;
                    margin-top: 3rem;
                    margin-bottom: 2rem;
                    border: 5px solid;
                    border-radius: 10px;
                    transition: 2s all ease;
                    color: rgb(145, 86, 19);
                    align-items: center;
                }
            
                .fotos:hover {
                    transform: scale(1.2,1.2);
                }

            }   
            .carta{
                .tex1{padding-bottom: 30px;

                }
        }  
        .nuestro{
            .tex2 {padding-bottom: 70px;
                
                 }
         }  

         .servi{
            .tex3{padding-top: 10px;
                
            }
         }  

         .contacto{
                    .tex4{padding-bottom: 70px;

                    }
         }
         .pedido{
                    .tex5{padding-bottom: 40px;

                    }
         }
      }
    
      
@import "gridhtmls"; 
@import "mediaqueries";   